name: CI/CD Kubefoods Backend

on:
  push:
    branches: [ "main" ]

jobs:
  build-deploy-validate:
    runs-on: ubuntu-latest

    env:
      IMAGE_NAME: ${{ secrets.DOCKER_REPO }}
      TAG: v${{ github.run_number }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          clean: true

      - name: Ensure Dockerfile is present
        run: |
          echo "Contenido del repo:"
          ls -R .
          if [ ! -f "./Dockerfile" ]; then
            echo "ERROR: Dockerfile no encontrado"
            exit 1
          fi

      - name: Login to Docker Hub
        run: |
          echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USER }}" --password-stdin

      - name: Build Docker image
        run: |
          docker build -t $IMAGE_NAME:$TAG .

      - name: Push Docker image
        run: |
          docker push $IMAGE_NAME:$TAG

      - name: Set kubeconfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBECONFIG }}" > ~/.kube/config

      - name: Update Deployment image
        run: |
          kubectl set image deployment/kubefoods-backend backend=$IMAGE_NAME:$TAG

      - name: Wait for rollout
        run: |
          kubectl rollout status deployment/kubefoods-backend --timeout=30s
